/**********/
/* GLOBAL */
/**********/
html, body {
	margin: 0;
	background: url(../img/mainbg2.png) repeat;
	color:white;
}
.global-width {
	width:960px;
	margin: 0 auto;
}
.container {
	height: 100vh;
	min-height: 700px;
	position: relative;
}
.arrows-down {
	position: absolute;
	left: 47.5%;
	bottom:1%;
}
.arrows-up {
	position: absolute;
	left: 47.5%;
	top: 1%;
}
.arrows-left {
	position: absolute;
	top: 50%;
	left:0;
}
.arrows-right {
	position: absolute;
	top: 50%;
	right:0;
}
.arrows:hover {
	cursor: pointer;
}
.text-center {
	text-align: center;
}
@font-face {
	font-family: kilogram;
	src: url("fonts/KiloGram_KG.otf") format("opentype");
}
h1 {
	font-family: kilogram;
	font-size: 80px;
	font-weight: normal;
	letter-spacing: 2px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 30px;
}
.slide_title {
	position: absolute;
	left:50%;
	top:2%;
}
.title_center {
	position: relative;
	left: -50%;
}
.title_name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 60px;
	letter-spacing: -1;
}


/************/
/* SLIDE 01 */
/************/
#stage {
	height: 100vh;
	min-height: 700px;
	position: relative;
}

#slide01 {
	height:100vh;
	min-height: 700px;
	width:100%;
	text-align: center;
	z-index: 9999;
}
#slide01 .valign {
	height:100vh;
	min-height: 700px;
}
.valign {
    display:table;
    width:100%;
    table-layout:fixed;
}
.valign>div {
    display:table-cell;
    vertical-align:middle;
    width:100%;
}


/************/
/* SLIDE 02 */
/************/
#slide02 {
	height:100vh;
	min-height: 700px;
}
#slide02_1 {
	position: absolute;
	top: 17%;
}
#slide02_1 .valign {
	height:75vh;
	min-height: 500px;
}
.everyone {
	opacity: 0;
}


/************/
/* SLIDE 03 */
/************/
#slide03 {
	height:100vh;
	min-height: 700px;
}
#slide03_1 {
	position: absolute;
	top: 17%;
}
#slide03_1 .valign {
	height:75vh;
	min-height: 500px;
}

#slide03_2 {
	position: absolute;
	top: 17%;
}
#slide03_2 .valign {
	height:75vh;
	min-height: 500px;
}


/************/
/* SLIDE 04 */
/************/
#slide04 {
	
}
#slide04 .valign {
	height:100vh;
	min-height: 700px;
}


/************/
/* SLIDE 05 */
/************/
#slide05 {
	
}
#slide05 .valign {
	height:100vh;
	min-height: 700px;
}


/************/
/* SLIDE 06 */
/************/
#slide06 {
	
}
#slide06 .valign {
	height:100vh;
	min-height: 700px;
}


/************/
/* SLIDE 07 */
/************/
#slide07 {
	
}
#slide07 .valign {
	height:100vh;
	min-height: 700px;
}


/************/
/* SLIDE 08 */
/************/
#slide08 {
	
}
#slide08 .valign {
	height:100vh;
	min-height: 700px;
}