/**********/
/* GLOBAL */
/**********/
html, body {
	margin: 0;
	background: url(../img/mainbg2.png) repeat;
	color:white;
}
.global-width {
	width:960px;
	margin: 0 auto;
}
.container {
	height: 100vh;
	min-height: 700px;
	position: relative;
}

.arrows {
	opacity: .5; 
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	z-index: 9999;
}
.arrows-down {
	position: absolute;
	left: 47.5%;
	bottom:1%;
}
.arrows-up {
	position: absolute;
	left: 47.5%;
	top: 1%;
}
.arrows-left {
	position: absolute;
	top: 50%;
	left:0;
}
.arrows-right {
	position: absolute;
	top: 50%;
	right:0;
}
.arrows:hover {
	cursor: pointer;
	opacity: 1;
}
.text-center {
	text-align: center;
}
@font-face {
	font-family: AlteHaasGroteskBold;
	src: url("fonts/AlteHaasGroteskBold.ttf") format("truetype");
}
@font-face {
	font-family: telegrafico;
	src: url("fonts/telegrafico.ttf") format("truetype");
}
h1 {
	font-family: AlteHaasGroteskBold;
	font-size: 80px;
	color: #fcc100;
	line-height: 1;
}
.header1 {
	font-family: telegrafico;
	font-size: 80px;
	font-weight: normal;
	letter-spacing: 2px;
}
.header2 {
	font-family: 'Lato';
	font-size: 80px;
	font-weight: 800;
	line-height: 1;
	letter-spacing: 2px;
}
.header3 {
	font-family: 'Open Sans';
	font-weight: 800;
}
h2 {
	font-family: 'Lato';
	font-size: 50px;
	font-weight: normal;
	letter-spacing: 1px;
}
h3 {
	font-family: 'Lato';
	font-size: 36px;
	font-weight: normal;
	letter-spacing: 1px;
}
h4 {
	font-family: sans-serif;
	font-size: 26px;
	font-weight: 100;
	letter-spacing: 1px;
}
h5 {
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 100;
}
p {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 30px;
}
.justifyit {
	text-align: justify;
}
.nomargin {
	margin-top: 0px;
	margin-bottom: 0px;
}
.slide_title {
	position: absolute;
	left:50%;
	top:2%;
}
.title_center {
	position: relative;
	left: -50%;
}
.title_name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 60px;
	letter-spacing: -1;
}

/* TOOLTIP */
.tooltip {
	border: none;
}
.toolinfo {
	font-size: 18px;
	font-family: sans-serif;
}
.tooltiplink {
	color:#f87c00;
	transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-webkit-transition: color .3s ease-in-out;
}
.tooltiplink:hover {
	cursor: pointer;
	color: #fcc100;
}


/************/
/* SLIDE 01 */
/************/
#stage {
	height: 100vh;
	min-height: 700px;
	position: relative;
}
#isOne {
	position: relative;
}
#slide01 {
	height:100vh;
	min-height: 700px;
	width:100%;
	text-align: center;
	z-index: 9999;
}
#slide01 .valign {
	height:100vh;
	min-height: 700px;
}
.valign {
    display:table;
    width:100%;
    table-layout:fixed;
}
.valign>div {
    display:table-cell;
    vertical-align:middle;
    width:100%;
}

#titlediv {
	position: absolute;
	top: 10%;
	left: 50%;
	z-index:1;
}
#titleimgdiv {
	position: absolute;
	top: 10%;
	left: 50%;
	z-index:2;
}
#titlewords {
	position: relative;
	font-size: 60px;
	left: -50%;
}
#titleimg {
	position: relative;
	left: -50%;
}


/************/
/* SLIDE 02 */
/************/
#slide02 {
	height:100vh;
	min-height: 700px;
}
#slide02_1 {

}
#slide02_1 .valign {
	height:100vh;
	min-height: 700px;
}
.everyone {
	opacity: 0;
}


/************/
/* SLIDE 03 */
/************/
#slide03 {
	height:100vh;
	min-height: 700px;
}
#slide03_1 {

}
#slide03_1 .valign {
	height:100vh;
	min-height: 700px;
}

#slide03_2 {

}
#slide03_2 .valign {
	height:100vh;
	min-height: 700px;
}

#valueCalc {
	margin-bottom: 0;
}
#valueCalc input {
	border: none;
	border-bottom: 2px solid white;
	outline: none;
	background: none;
	color: white;
	font-size: 30px;
	width: 140px;
}
#submit-button, #again-button {
	cursor: pointer;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 10px 15px 10px 15px;
	display: inline-block;
	background: #f87c00;
	text-align: center;
}
#submit-button:hover, #again-button:hover {
	background: #d26b03;
}
#outputpage {
	display: none;
	opacity: 0;
}
#outputhold {
	display: block;
}
#items {
	margin-top: 50px;
	margin-bottom: 10px;
}
#monthTot, #accrualAmt {
	font-size: 40px;
	font-weight: 600;
}
.commodity {
	display: inline-block;
	margin: 0 1em 1em 0;
	vertical-align: top;
	width: 140px;
	opacity: 0;
}
.commodity p {
	margin: 5px 0;
}
.itemwords {
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 100;
}


/************/
/* SLIDE 04 */
/************/
#slide04 {
	height: 100vh;
	overflow: hidden;
}
#canvas4 {
	position: relative;
	left: 0;
	top: 0;
}
.transitionwords {
	width: 500px;
	float: right;
}
#slide04_1 .valign {
	height:100vh;
	min-height: 700px;
}


/************/
/* SLIDE 05 */
/************/
#slide05 {
	
}
#slide05 .valign {
	height:100vh;
	min-height: 700px;
}
#slide05_3 {
	height: 100vh;
}
#canvas6 {
	position: fixed;
	left: 0;
	top:0;

}
#slide05_4 {
	position: relative;
}
#centerrotatearrows {
	position: absolute;
	top: 28%;
	left: 50%;
	z-index:1;
}
#centerrotatearrowsimg {
	position: absolute;
	top: 47%;
	left: 50%;
	z-index:1;
}
#rotatearrowwords {
	position: relative;
	left: -50%;
}
#rotatearrowimg {
	position: relative;
	left: -50%;
}


/************/
/* SLIDE 06 */
/************/
#slide06 {
	height: 100vh;
	overflow: hidden;
}
#canvas5 {
	position: relative;
	left: 0;
}
#slide06 .valign {
	height:100vh;
	min-height: 700px;
}


/************/
/* SLIDE 07 */
/************/
#slide07 {
	
}
#slide07 .valign {
	height:100vh;
	min-height: 700px;
}
.flagmargin {
	margin-right: 20px;
}
.flaghold {
	padding-top: 30px;
}


/************/
/* SLIDE 08 */
/************/
#slide08 {
	
}
#slide08 .valign {
	height:100vh;
	min-height: 700px;
}
.changeingWordsHolder {
	width:810px;
	margin: 0 auto;
}
.changingResponse {
	color: #FFBA00;
	font-weight: bold;
	width: 450px;
}
#ballandchain{
	height: 300px;
}

/************/
/* SLIDE 09 */
/************/
#slide09 {
	
}
#slide09 .valign {
	height:100vh;
	min-height: 700px;
}

#markets {
	display: flex;
	justify-content: space-between;
}

#markets p{
	font-size: 1.5em;
}
#buycar, #athome, #k401 {
	font-weight: 600;
	font-size: 45px;
	margin: none;
	color: #FFBA00;
}
.stifledinfo {
	margin: 0 auto;
	margin-top: 5px;
	display: block;
	width: 200px;
}

/************/
/* SLIDE 10 */
/************/
#slide10 {
	
}
#slide10 .valign {
	height:100vh;
	min-height: 700px;
}


/************/
/* SLIDE 11 */
/************/
#slide11 {
	
}
#slide11 .valign {
	height:100vh;
	min-height: 700px;
}

#sources{
	display: flex;
	justify-content: space-between;
}

#column1, #column2, #column3{
	display: flex;
	flex-direction: column;
}

dl, dt, dd { 
	margin:0;
	text-align: left;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

dd{
	font-weight: bold;
}

dl{
	margin-bottom: 40px;
}
